.container {
  position: absolute;
  background: white;
  transform: translate(50%, 10px);
  overflow-x: hidden;
  border: 1px solid #d8d8d8;
  z-index: 9999;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.container-close-btn {
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-title {
  flex: 0 0 90%;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: #000000ad;
}
